---
layout: default
---

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>

        .container{
          max-width: 70%;
          margin: 140px auto 100px auto; /* Add top and bottom margin here */
        }

        
        .image-container {
          text-align: left;
        }
        .image-container img {
          max-width: 110%;
          height: auto;
        }

    </style>
</head>
<body>
    <div class="container">
      <section class="section">
        <div class="two-columns">
          <div class="column">
            <br><br>
            <i class="fas fa-calendar", style="font-size: 80px;"></i>
            <h2>17-18 June 2024</h2>
            <br>
            <i class="fas fa-map-marker-alt", style="font-size: 80px;"></i>
            <h2><p>MPI for Empirical Aesthetics <br>
            <a href="https://www.google.com/maps?q=MPI+for+Empirical+Aesthetics">Grüneburgweg 14, <br> Frankfurt am Main</a></p></h2>

          </div>
          <div class="column image-container">
            <img src="assets/images/brain.png" alt="Image">
          </div>
        </div>
    <div class="two-columns">
      <div class="column", style="text-align: right">
        <div class="bottom-button">
          <h2><a href="{{ site.baseurl }}/program">View the Program</a><h2>
        </div>
      </div>
      <div class="column", style="text-align: left">
        <div class="bottom-button">
          <h2><a href="{{ site.baseurl }}/registration">Register Now</a><h2>
        </div>
      </div>
    </div>
    </div>


</body>
</html>
