---
layout: default
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Materials</title>
  <style>
      body {
        background-color: black;
        color: white;
        font-family: Arial, sans-serif;
        margin: 0;
        text-align: left;
        line-height: 1.4;
      }
  </style>
</head>

<body>
  <div class="sidebar">
    <!-- Add your image here -->
    <img src="assets/images/brain.png" alt="Image" style="width:80%; height:auto;">

    <!-- Add your information here -->
    <br>
    17-18 June 2024
    <br><br>

    <a href="https://www.google.com/maps?q=MPI+for+Empirical+Aesthetics"> MPI for Empirical Aesthetics <br> Grüneburgweg 14</a>
     <br> Frankfurt am Main
  </div>


  <section class="section">

    {{ content }}
  </section>

  <div class="two-columns">
    <div class="column", style="text-align: right">
      <div class="bottom-button">
        <h2><a href="{{ site.baseurl }}/team">Get to know the Team</a><h2>
      </div>
    </div>
    <div class="column", style="text-align: left">
      <div class="bottom-button">
        <h2><a href="{{ site.baseurl }}/registration">Register Now</a><h2>
      </div>
    </div>
  </div>
</body>
