---
layout: default
---


<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style>
      h1 {
        text-align: center;
        margin-bottom: 30px;
      }
      .speaker {
        margin-bottom: 50px;
      }
      .speaker img {
        border-radius: 50%;
        width: 150px;
        height: 150px;
        margin-right: 20px;
        float: left;
      }
      .speaker h2 {
        font-size: 24px;
        margin-top: 0;
      }
      .speaker p {
        font-size: 16px;
        line-height: 1.5;
      }
    </style>
  </head>
  <body>


  <div class="speaker">
    <img src="./assets/images/Carlos.png" alt="Carlos">
    <h2>Carlos</h2>
    <p>B.Sc. in Biology at the University of Carabobo (Venezuela), Ph.D. in Biophysics and Computational Biology at the University of Valparaíso, Postdoctoral Researcher at the Latin American Brain Health Institute (BrainLat, Adolfo Ibañez University), and Atlantic Fellow for Equity in Brain Health (Trinity College Dublin, and University of San Francisco California). Carlos’ research interests are computational modeling of aging and dementia, biophysical models of chemical neuromodulation, and theoretical neuroscience. Carlos studies the brain using mathematical models, tools from graph theory, and computational neuroscience.</p>
  </div>

  <div class="speaker">
    <img src="./assets/images/Ruben.png" alt="Ruben">
    <h2>Ruben</h2>
    <p>Post-doc at the Paris Brain Institute (ICM). BSc in Biology (Universidad de Chile), MSc in Biological Sciences (Universidad de Chile), PhD in Biophysics and Computational Biology (Universidad de Valparaíso, Chile). Ruben's main interests are Computational Neuroscience, Consciousness, Complex Systems, and Theoretical Biology.</p>
  </div>

  <div class="speaker">
    <img src="./assets/images/Ryszard.png" alt="Ryszard Auksztulewicz">
    <h2>Ryszard Auksztulewicz</h2>
    <p>Neuroscientist at Maastricht University & Free University Berlin specializing in the neural mechanisms of prediction, attention, and memory. His work combines empirical research methods from cognitive neuroscience (EEG, fMRI, MEG, ECoG, TMS) and systems neuroscience (electrophysiology, calcium imaging) with computational modeling (Bayesian models of neural and behavioral data) and multivariate techniques (decoding). In his free time, he enjoys cooking and adventurous music.</p>
  </div>

  <div class="speaker">
    <img src="./assets/images/Marilyn.png" alt="Marilyn">
    <h2>Marilyn</h2>
    <p>Marilyn is a Postdoctoral Research Assistant in the Network Science Institute at Northeastern
  University London. She has explored a wide range of scientific questions, including healthy
  aging, frontotemporal dementia, and the effects of transcranial ultrasound stimulation, a novelty
  non-invasive neuromodulation technique. Her research has integrated data analysis with
  multivariate information theory, statistics, machine learning, and whole-brain modeling.</div>

  </body>
</html>
